html,body {
    font-family: 'Open Sans', sans-serif;
    /*background: #F0F2F4;   */
    
    
    /*background: #584848;*/
    background: rgb(209, 215, 224);
    }
.hero-body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
.mysocial { color: hsl(0, 0%, 100%);}
.mysocial:hover { color: hsl(0, 0%, 71%) }

/*afbeelding rechts in catalogus-lijst*/
img {
	float: right;
	margin-left: 20px;
  margin-bottom: 10px;
	width: 30%;
}

figure.floatleft {
	max-width: 30%;
	width: auto\9*0.3; /* ie8 */
	height: auto;
	float: left;
}

.clearfix {
    overflow: auto;
  }
  
  .smallTag {
    font-size: 0.75rem !important;
    color: #7a7a7a !important;
  }

  .smallTag:hover, .smallTag:focus {
    color: #363636 !important;
  }

  .copyleft {
    display:inline-block;
    transform: rotate(180deg);
  }
 