<!-- nav -->
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="{{ .Site.BaseURL | absURL }}">Home</a>
		<a class="navbar-item" href="{{ "catalogus" | absURL }}">Catalogus</a>
		<a class="navbar-item" href="{{ "about" | absURL }}">Over het project</a>
	</div>
</nav>

<!-- /nav -->

<!-- hero -->
<section class="hero is-info is-medium">
	<div class="hero-body" style="background-image: url({{ "img/bg-blog.jpg" | absURL }});">
		<div class="container has-text-centered">
			<br>
			<h1 class="title is-size-1">
				{{ if eq .Type "tags" }}
					#{{ .Title }}
				{{ else if eq .Type "dates" }}
					Bouwjaar {{ .Title }}
				{{ else }}
					{{ .Title }}
				{{ end }}
			</h1>
			{{ if eq .Type "article" }}
				{{ .Date.Format "2006" }}
			{{ end }}
		</div>
	</div>
</section>
